# Python/Django (Backend)
backend/.venv/
backend/*.pyc
backend/__pycache__/
backend/db.sqlite3
backend/media/
backend/*.log
backend/.env
backend/*.pot
backend/*.py[cod]
backend/*.sqlite3
backend/staticfiles/
backend/local_settings.py
__pycache__/
*.pyc
*.pyo
*.pyd
backend/analyzer/__pycache__/
backend/analyzer/migrations/__pycache__/

# Node/React (Frontend)
frontend/node_modules/
frontend/build/
frontend/dist/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.env.local
frontend/.env.development
frontend/.env.production
frontend/.env.test

# Common
.DS_Store
Thumbs.db

.venv/